<h1 class="text-center">San Francisco Places</h1>

<%= gmaps("markers" => {"data" => @json}) %>
<br />

<%= form_for(filter_places_path, url: filter_places_path) do %>
	<div class="input-append">
		<%= collection_select :filter, :cat, Category.all, :id, :name, selected: @filtered_cat, include_blank: 'Tout' %>
		<%= submit_tag "Filtrer", class: "btn btn-primary" %>
	</div>
<% end %>

<br />

<% if(current_user.try(:admin?))  %>
<%= link_to 'New Place', new_place_path %>
<% end %>